---
import ProductCard from "../components/ProductCard.astro"
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "Product Preview Card"
const description = "A Frontend Mentor challenge: a product preview card built with Astro."
---

<BaseLayout title={title} description={description}>
    <main class="p-4">
        <ProductCard />
    </main>
</BaseLayout>
